@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

:root {
   --color-black: #0B0C10;
   --color-black-light: #1F2833;
   --color-grey: #C5C6C7;
   --color-blue-light: #66FCF1;
   --color-blue: #45A29E;
   --color-white: #fff;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-size: 16;
   color: var(--color-blue-light);
   background: var(--color-black-light);
}

a {
   text-decoration: none;
   color: var(--color-white);
}


/* Container */
.container {
   width: 100%;
   max-width: 1440px;
   padding: 0 15px;
   margin: 0 auto;
}


/* Intro */
.intro {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100vh;
}

.intro__inner {
   width: 100%;
   margin: 0 auto;

   text-align: left;
}

.intro__title {
   font-weight: 700;
   font-size: 150px;
   line-height: 182px;
   letter-spacing: 0.08em;
}

.intro__text {
   margin-left: 10px;
   font-weight: 300;
   font-size: 40px;
   line-height: 48px;
   letter-spacing: -0.025em;
   color: var(--color-blue);
}


.intro__button {
   cursor: pointer;
   background: var(--color-black);
   padding: 15px;
   border-radius: 25px;
   margin-top: 70px;
   border: 1px solid var(--color-black);

   font-weight: 300;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.02em;
   transition: all 600ms ease;
}

.intro__button a {
   color: var(--color-white);
   font-weight: 300;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.02em;
}


.intro__button:hover {
   background: var(--color-blue);
   border: 1px solid var(--color-blue);
}

.intro__footer {
   font-size: 22px;
   display: flex;
   justify-content: center;
}


/* header */

header {
   position: relative;
   width: 100%;
   padding-top: 30px;

   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   z-index: 1000;
}

.fixed {
   padding: 30px 0;
   background: var(--color-black-light);
   -webkit-box-shadow: 7px 41px 27px -25px rgba(34, 60, 80, 0.37);
   -moz-box-shadow: 7px 41px 27px -25px rgba(34, 60, 80, 0.37);
   box-shadow: 7px 41px 27px -25px rgba(34, 60, 80, 0.37);
}

.header__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   cursor: pointer;
   font-weight: 300;
   font-size: 25px;
   line-height: 30px;
   letter-spacing: 0.235em;

   color: #FFFFFF;
}



.nav__item {
   margin-right: 30px;
   font-weight: 300;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.02em;
   transition: all 600ms ease;
}

.nav__btn {
   color: var(--color-white);
   background: transparent;
   border: 1px solid var(--color-white);
   font-size: 15px;
   padding: 10px;
   border-radius: 5px;
   margin-right: 5px;
   transition: all 600ms ease;
}

.nav__btn:last-child {
   margin-right: 0;
}

.nav__btn:hover {
   color: var(--color-black);
   background: var(--color-white);
}

.nav__item:last-child {
   margin: 0;
}

.nav__item:hover {
   color: var(--color-blue);
}

/* menu */

.menu {
   cursor: pointer;
   font-size: 24px;
   width: 30px;
   color: var(--color-white);
   transition: color 600ms ease;
}

.menu:hover {
   color: var(--color-blue);
}

.active {
   position: fixed;
   right: 0;
   top: 0;
   height: 100vh;
   width: 400px;
   background-color: var(--color-black-light);
}

/* login */

.login-box {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 400px;
   padding: 40px;
   transform: translate(-50%, -50%);
   background: rgba(0, 0, 0, .5);
   box-sizing: border-box;
   box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
   border-radius: 10px;
}

.login-box h2 {
   margin: 0 0 30px;
   padding: 0;
   color: #fff;
   text-align: center;
}

.login-box .user-box {
   position: relative;
}

.login-box .user-box input {
   width: 100%;
   padding: 10px 0;
   font-size: 16px;
   color: #fff;
   margin-bottom: 50px;
   border: none;
   border-bottom: 1px solid #fff;
   outline: none;
   background: transparent;
}

.login-box .user-box label {
   position: absolute;
   top: 0;
   left: 0;
   padding: 10px 0;
   font-size: 16px;
   color: #fff;
   pointer-events: none;
   transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
   top: -20px;
   left: 0;
   color: var(--color-blue-light);
   font-size: 12px;
}

.users__btn {
   cursor: pointer;
   position: relative;
   display: inline-block;
   padding: 10px 20px;
   color: var(--color-blue-light);
   background: transparent;
   border: none;
   font-size: 16px;
   text-decoration: none;
   text-transform: uppercase;
   overflow: hidden;
   transition: .5s;
   margin-top: 40px;
   letter-spacing: 2px
}

.users__btn:hover {
   background: var(--color-blue-light);
   color: #fff;
   border-radius: 5px;
   box-shadow: 0 0 5px var(--color-blue-light),
      0 0 25px var(--color-blue-light),
      0 0 50px var(--color-blue-light),
      0 0 100px var(--color-blue-light);
}

.users__btn span {
   position: absolute;
   display: block;
}

.users__btn span:nth-child(1) {
   top: 0;
   left: -100%;
   width: 100%;
   height: 2px;
   background: linear-gradient(90deg, transparent, var(--color-blue-light));
   animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
   0% {
      left: -100%;
   }

   50%,
   100% {
      left: 100%;
   }
}

.users__btn span:nth-child(2) {
   top: -100%;
   right: 0;
   width: 2px;
   height: 100%;
   background: linear-gradient(180deg, transparent, var(--color-blue-light));
   animation: btn-anim2 1s linear infinite;
   animation-delay: .25s
}

@keyframes btn-anim2 {
   0% {
      top: -100%;
   }

   50%,
   100% {
      top: 100%;
   }
}

.users__btn span:nth-child(3) {
   bottom: 0;
   right: -100%;
   width: 100%;
   height: 2px;
   background: linear-gradient(270deg, transparent, var(--color-blue-light));
   animation: btn-anim3 1s linear infinite;
   animation-delay: .5s
}

@keyframes btn-anim3 {
   0% {
      right: -100%;
   }

   50%,
   100% {
      right: 100%;
   }
}

.users__btn span:nth-child(4) {
   bottom: -100%;
   left: 0;
   width: 2px;
   height: 100%;
   background: linear-gradient(360deg, transparent, var(--color-blue-light));
   animation: btn-anim4 1s linear infinite;
   animation-delay: .75s
}

@keyframes btn-anim4 {
   0% {
      bottom: -100%;
   }

   50%,
   100% {
      bottom: 100%;
   }
